.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(4px);

  .spinner-circle {
    width: var(--px-64);
    height: var(--px-64);
    border: var(--px-8) solid var(--gray-200);
    border-top: var(--px-8) solid var(--secondary);
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  backdrop-filter: blur(4px);

  .box {
    background: var(--white);
    padding: var(--px-32);
    border-radius: var(--px-12);
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 var(--px-12) var(--px-24) var(--primary);
    animation: popIn 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);

    .message {
      color: var(--gray-400);
      font-size: var(--fs-4);
      margin-bottom: var(--px-24);
      line-height: 1.5;
      word-wrap: break-word;
    }

    .button {
      background-color: var(--btn-danger);
      color: var(--white);
      border: none;
      padding: var(--px-12) var(--px-32);
      border-radius: var(--px-8);
      cursor: pointer;
      font-weight: bold;
      transition: transform 0.2s;
    }
    .button:hover {
      transform: scale(1.05);
      background-color: var(--primary);
    }
  }
}

@keyframes popIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
