.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(4px);

  .spinner-circle {
    width: var(--px-64);
    height: var(--px-64);
    border: var(--px-8) solid var(--gray-200);
    border-top: var(--px-8) solid var(--secondary);
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  backdrop-filter: blur(4px);

  .box {
    background: var(--white);
    padding: var(--px-32);
    border-radius: var(--px-12);
    width: 90%;
    max-width: 400px;

    box-shadow: 0 var(--px-12) var(--px-24) var(--primary);
    animation: popIn 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .message {
      color: var(--gray-400);
      font-size: var(--fs-6);
      margin-bottom: var(--px-24);
      line-height: 1.5;
      text-align: center;
      word-wrap: break-word;
    }

    .button {
      color: var(--white);
      border: none;
      padding: var(--px-12) var(--px-40);
      border-radius: var(--px-8);
      cursor: pointer;
      font-size: var(--fs-6);
      font-weight: bold;
      transition: transform 0.2s;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--px-12);
    }
    .button.save {
      background-color: var(--btn-save);
    }
    .button.danger {
      background-color: var(--btn-danger);
    }
    .button:hover {
      transform: scale(1.05);
      background-color: var(--primary);
    }
  }
}

@keyframes popIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.confirm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  backdrop-filter: blur(4px);

  .box {
    background: var(--white);
    padding: var(--px-32);
    border-radius: var(--px-12);
    width: 90%;
    max-width: 400px;

    box-shadow: 0 var(--px-12) var(--px-24) var(--primary);
    animation: popIn 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      font-size: var(--fs-8);
      color: var(--primary);
    }

    .message {
      color: var(--gray-400);
      font-size: var(--fs-6);
      margin-bottom: var(--px-24);
      line-height: 1.5;
      text-align: center;
      word-wrap: break-word;
    }

    .actions {
      display: flex;
      justify-content: center;
      gap: var(--px-12);
      margin-top: var(--px-24);

      button {
        color: var(--white);
        border: none;
        padding: var(--px-12) var(--px-40);
        border-radius: var(--px-8);
        cursor: pointer;
        font-size: var(--fs-6);
        font-weight: bold;
        transition: transform 0.2s;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--px-12);
      }
      .button-confirm {
        background-color: var(--btn-save);
      }
      .button-cancel {
        background-color: var(--btn-danger);
      }
      button:hover {
        transform: scale(1.05);
        background-color: var(--primary);
      }
    }
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
