:root {
  --primary: #005461;
  --secondary: #018790;
  --thirdnary: #00b7b5;

  --white: #fff;
  --gray-50: #f4f4f4;
  --gray-100: #b2c0cd;
  --gray-200: #96a5b3;
  --gray-300: #637381;
  --gray-400: #454f5b;
  --gray-500: #1e1e1e;
  --black: #000;

  /* --px-2: calc((0.04vw + 0.36vh) / 2);
  --px-4: calc((0.08vw + 0.72vh) / 2);
  --px-8: calc((0.16vw + 1.44vh) / 2);
  --px-12: calc((0.24vw + 2.16vh) / 2);
  --px-16: calc((0.32vw + 2.88vh) / 2);
  --px-24: calc((0.48vw + 4.32vh) / 2);
  --px-32: calc((0.64vw + 5.76vh) / 2);
  --px-40: calc((0.8vw + 7.2vh) / 2);
  --px-48: calc((0.96vw + 8.64vh) / 2);
  --px-56: calc((1.12vw + 10.08vh) / 2);
  --px-64: calc((1.28vw + 11.52vh) / 2);
  --px-128: calc((2.56vw + 23.04vh) / 2);
  --px-192: calc((3.84vw + 34.56vh) / 2);
  --px-256: calc((5.12vw + 46.08vh) / 2);
  --px-512: calc((10.24vw + 92.16vh) / 2); */

  --px-2: calc((0.125vw + 0.125vh) / 1.78);
  --px-4: calc((0.25vw + 0.25vh) / 1.78);
  --px-8: calc((0.5vw + 0.5vh) / 1.78);
  --px-12: calc((0.75vw + 0.75vh) / 1.78);
  --px-16: calc((1vw + 1vh) / 1.78);
  --px-24: calc((1.5vw + 1.5vh) / 1.78);
  --px-32: calc((2vw + 2vh) / 1.78);
  --px-40: calc((2.5vw + 2.5vh) / 1.78);
  --px-48: calc((3vw + 3vh) / 1.78);
  --px-56: calc((3.5vw + 3.5vh) / 1.78);
  --px-64: calc((4vw + 4vh) / 1.78);
  --px-80: calc((5vw + 5vh) / 1.78);
  --px-96: calc((6vw + 6vh) / 1.78);
  --px-128: calc((8vw + 8vh) / 1.78);
  --px-192: calc((12vw + 12vh) / 1.78);
  --px-256: calc((16vw + 16vh) / 1.78);
  --px-512: calc((32vw + 32vh) / 1.78);

  /* --px-2: 0.125vw;
  --px-4: 0.25vw;
  --px-8: 0.5vw;
  --px-12: 0.75vw;
  --px-16: 1vw;
  --px-24: 1.5vw;
  --px-32: 2vw;
  --px-40: 2.5vw;
  --px-48: 3vw;
  --px-56: 3.5vw;
  --px-64: 4vw;
  --px-80: 5vw;
  --px-96: 6vw;
  --px-128: 8vw;
  --px-192: 12vw;
  --px-256: 16vw;
  --px-512: 32vw; */

  --fs-1: clamp(2px, var(--px-4), 0.675rem);
  --fs-2: clamp(4px, var(--px-8), 1.25rem);
  --fs-3: clamp(6px, var(--px-12), 1.75rem);
  --fs-4: clamp(8px, var(--px-16), 2.25rem);
  --fs-5: clamp(10px, var(--px-16), 3rem);
  --fs-6: clamp(12px, var(--px-24), 3.5rem);
  --fs-7: clamp(14px, var(--px-24), 4rem);
  --fs-8: clamp(16px, var(--px-32), 5rem);
  --fs-9: clamp(20px, var(--px-40), 6rem);
  --fs-10: clamp(24px, var(--px-48), 7rem);
  --fs-11: clamp(28px, var(--px-56), 8rem);
  --fs-12: clamp(32px, var(--px-64), 9rem);

  --btn-danger: #dc3545;
  --btn-warning: #f59e0b;
  --btn-info: #0dcaf0;
  --btn-save: #28a745;
  --btn-neutral: #868e96;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
  transition: 0.3s ease-in-out;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
   10. Create a root stacking context
 */
#root,
#__next {
  isolation: isolate;
}

#root {
  width: 100%;
  height: max-content;
}
