:root {
  --primary: #005461;
  --secondary: #018790;
  --thirdnary: #00b7b5;

  --white: #fff;
  --gray-50: #f4f4f4;
  --gray-100: #b2c0cd;
  --gray-200: #96a5b3;
  --gray-300: #637381;
  --gray-400: #454f5b;
  --gray-500: #1e1e1e;
  --black: #000;

  --px-2: calc((0.04vw + 0.36vh) / 2);
  --px-4: calc((0.08vw + 0.72vh) / 2);
  --px-8: calc((0.16vw + 1.44vh) / 2);
  --px-12: calc((0.24vw + 2.16vh) / 2);
  --px-16: calc((0.32vw + 2.88vh) / 2);
  --px-24: calc((0.48vw + 4.32vh) / 2);
  --px-32: calc((0.64vw + 5.76vh) / 2);
  --px-40: calc((0.8vw + 7.2vh) / 2);
  --px-48: calc((0.96vw + 8.64vh) / 2);
  --px-56: calc((1.12vw + 10.08vh) / 2);
  --px-64: calc((1.28vw + 11.52vh) / 2);
  --px-128: calc((2.56vw + 23.04vh) / 2);
  --px-192: calc((3.84vw + 34.56vh) / 2);
  --px-256: calc((5.12vw + 46.08vh) / 2);
  --px-512: calc((10.24vw + 92.16vh) / 2);

  --fs-1: clamp(4px, 0.33vw, 0.675rem);
  --fs-2: clamp(8px, 0.67vw, 1.25rem);
  --fs-3: clamp(12px, 0.88vw, 1.75rem);
  --fs-4: clamp(16px, 1.17vw, 2.25rem);
  --fs-5: clamp(20px, 1.47vw, 3rem);
  --fs-6: clamp(24px, 1.76vw, 3.5rem);
  --fs-7: clamp(28px, 2.05vw, 4rem);
  --fs-8: clamp(32px, 2.34vw, 5rem);
  --fs-9: clamp(40px, 2.93vw, 6rem);
  --fs-10: clamp(48px, 3.52vw, 7rem);
  --fs-11: clamp(56px, 4.1vw, 8rem);
  --fs-12: clamp(64px, 4.69vw, 9rem);

  --btn-danger: #dc3545;
  --btn-warning: #f59e0b;
  --btn-info: #0dcaf0;
  --btn-save: #28a745;
  --btn-neutral: #868e96;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
  transition: 0.3s ease-in-out;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
   10. Create a root stacking context
 */
#root,
#__next {
  isolation: isolate;
}

#root {
  width: 100%;
  height: max-content;
}
