.__admin-page {
  .navbar__admin-page {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: var(--px-4) var(--px-32);
    border: var(--px-2) solid var(--gray-200);
    border-radius: var(--px-8);

    background-color: var(--white);
    color: var(--primary);

    section.left__admin-page {
      .title__admin-page {
        font-size: var(--fs-8);
        font-weight: 600;
      }
      .title__admin-page:hover {
        transform: scale(1.1);
      }
    }

    section.right__admin-page {
      max-width: 60%;
      min-width: 240px;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--px-16);

      position: relative;
      font-size: var(--fs-5);

      .input__admin-page {
        flex: 1;

        input {
          width: calc(var(--px-256) * 1.25);
          height: 100%;

          border: var(--px-2) solid var(--gray-200);
          border-radius: var(--px-8);
          padding: var(--px-4) var(--px-12);
        }
        input:not(:placeholder-shown) + .icon {
          display: none;
        }
        input:focus {
          box-shadow: 0 0 4px var(--primary);
        }

        .icon__admin-page {
          position: absolute;
          right: var(--px-16);
          top: 50%;

          transform: translateY(-50%);
        }
      }

      .action__admin-page {
        display: flex;
        gap: var(--px-8);

        .button__admin-page {
          background-color: transparent;
          padding: var(--px-4);
          border-radius: var(--px-8);
          border: var(--px-2) solid var(--gray-200);
        }
        .button__admin-page:not(:disabled):hover {
          transform: scale(1.1);
          cursor: pointer;
        }
        .button__admin-page:disabled .icon__admin-page {
          color: var(--gray-200);
        }

        .icon__admin-page {
          aspect-ratio: 1/1;
          font-size: var(--fs-6);
          color: var(--primary);
        }
      }
    }
  }

  .table-container__admin-page {
    flex: 1;
    min-width: 100%;
    height: 100%;

    padding: var(--px-4) var(--px-32);
    border: var(--px-2) solid var(--gray-200);
    border-radius: var(--px-8);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    table {
      flex: 1;
      max-width: 100%;
      border-collapse: collapse;

      border-bottom: var(--px-4) solid var(--secondary);

      thead,
      tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
      }

      thead tr::after {
        content: "";
        display: table-cell;
        width: 17px;
        background: var(--gray-50);
        border-bottom: var(--px-4) solid var(--secondary);
      }

      tbody {
        display: block;
        max-height: calc(var(--px-256) * 1.875);
        overflow-y: auto;
        width: 100%;
      }

      th:first-child,
      td:first-child {
        width: 50px;
        text-align: center !important;
        background-color: transparent;
        padding: 0;
      }

      th:nth-child(2),
      td:nth-child(2) {
        width: var(--px-256);
        max-width: fit-content;
        text-align: left;
      }

      th,
      td {
        padding: var(--px-8);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      th {
        font-size: var(--fs-6);
        font-weight: 600;
        color: var(--primary);
        border-bottom: var(--px-4) solid var(--secondary);
        text-align: center;
      }

      td {
        font-size: var(--fs-4);
        border-bottom: var(--px-2) solid var(--thirdnary);
        text-align: center;
      }

      tbody tr:hover {
        background-color: var(--thirdnary);
        color: var(--white);
      }

      th:nth-child(2),
      td:nth-child(2),
      th:nth-child(3),
      td:nth-child(3) {
        text-align: left;
      }

      td:first-child input {
        margin: 0 auto;
        display: block;
        cursor: pointer;
      }
    }

    .table-action__admin-page {
      width: 100%;
      height: fit-content;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--px-4);

      padding: var(--px-16) var(--px-8);

      .button__admin-page {
        height: var(--px-48);

        border: var(--px-2) solid var(--primary);
        border-radius: var(--px-8);

        padding: var(--px-2) var(--px-8);

        font-size: var(--fs-4);
        font-weight: 500;
        text-align: center;
        color: var(--secondary);

        cursor: pointer;
      }
      .button__admin-page.page {
        aspect-ratio: 1/1;
        width: auto;
        padding: var(--px-2);
      }
      .button__admin-page.page.active {
        background-color: var(--primary);
        color: var(--white);
      }
      .button__admin-page:disabled {
        border-color: var(--gray-200);
        color: var(--gray-200);
      }
      .button__admin-page:not(:disabled):hover {
        border-color: var(--secondary);
        background-color: var(--secondary);
        color: var(--white);
      }
    }
  }
}
